{% extends 'base/base.html' %}

{% block title %}Mis Etiquetas{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6">
                <div class="m-b-20 text-center text-light">
                    <b class="fs-18">Mis Etiquetas</b>
                    <a href="{% url 'panel:crear_etiqueta' %}" class="btn btn-sm btn-outline-light">
                        Crear Etiqueta  <i class="fas fa-plus"></i></a>
                </div>
                <div class="card">
                    <div class="card-body">
                        {% if etiquetas %}
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Registros</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in etiquetas %}
                                    <tr>
                                        <td><a href="{% url 'panel:movimientos_etiqueta' e.id %}">{{e.nombre}}</a></td>
                                        <td class="text-center">{{e.transaccion_set.count}}</td>
                                        <td>
                                            <a href="{% url 'panel:editar_etiqueta' e.id %}" class="btn btn-sm btn-success">
                                            <i class="far fa-edit"></i></a>
                                        </td>
                                        <td>
                                            {% if e.transaccion_set.count == 0 %}
                                            <a href="{% url 'panel:eliminar_etiqueta' e.id %}" class="btn btn-sm btn-danger">
                                                <i class="far fa-trash-alt"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <h5 class="text-center my-3">No hay Etiquetas.</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
