{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %}Movimientos por {{etiqueta.nombre}}{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header text-center">
                        Movimientos por {{etiqueta.nombre}}
                    </div>
                    <div class="card-body">
                        {% if transaciones %}
                            <table class="table table-responsive-sm" id="miTabla">
                                <thead>
                                    <tr>
                                        <th>Cuenta</th>
                                        <th>Valor</th>
                                        <th>Info</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in transaciones %}
                                        <tr class="{{t.tipo|textcolor}}">
                                            <td>{{t.cuenta.nombre}}</td>
                                            <td> {{t.tipo|signo}}${{t.cantidad|puntomil}}</td>
                                            <td>{{t.info}}</td>
                                            <td>
                                                <span class="d-none d-md-block">
                                                    {{t.fecha}}
                                                </span>
                                                <span  class="d-md-none">
                                                    {{t.fecha|date:'H:i d-m-Y'}}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        {% else %}
                            <div class="fs-18 text-center">
                                No hay movimientos en esta etiqueta
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <script src="{% static 'js/datatables.js' %}" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#miTabla').DataTable();
        });
    </script>
{% endblock %} %}
