{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %} {{tipo}} perido {{periodo}} {% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-light text-center mb-3 animate__animated animate__fadeInDown">{{tipo}} {{etiqueta}} periodo {{periodo}}</h4>
                <div class="card animate__animated animate__fadeIn">
                    <div class="card-body">
                        {% if transacciones %}
                            <table class="table table-responsive-sm" id="miTabla">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cuenta</th>
                                        <th>Valor</th>
                                        <th>Info</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in transacciones %}
                                        <tr class="{{t|textcolor}}">
                                            <td>
                                                <span class="d-none d-md-block">
                                                    {{t.fecha|date:'D, d/m/y h:iA'}}
                                                </span>
                                                <span  class="d-md-none">
                                                    {{t.fecha|date:'d/m/y h:iA'}}
                                                </span>
                                            </td>
                                            <td>{{t.cuenta.nombre}}</td>
                                            <td> {{t.tipo|signo}}${{t.cantidad|puntomil}}</td>
                                            <td>{{t.info|truncatechars:'40'}}</td>
                                            <td>
                                                <a href="{% url 'panel:vista_transaccion' t.id %}"
                                                    class="btn btn-sm btn-outline-primary">
                                                <i class="fas fa-external-link-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            <div class="fs-18 text-center">
                                No hay movimientos en esta etiqueta
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <script src="{% static 'js/datatables.js' %}" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#miTabla').DataTable({
                order: []
            });
        });
    </script>
{% endblock %} %}
