{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %}Todos Mis Prestamos{% endblock %}

{% block contenido %}
    <div class="container">
        <h5 class="text-center text-light mb-3 animate__animated animate__fadeInDown">Prestamos</h5>
        <div class="card animate__animated animate__fadeIn">
            <div class="card-body">
                {% if prestamos %}
                    <p>
                        Saldo total en cuentas ${{saldoTotal|puntomil}} <br>
                        Actualmente debe ${{yoDebo|puntomil}} y a usted le deben ${{meDeben|puntomil}} <br>
                        {{pagandoPrestamosMensaje}} ${{pagandoPrestamosMeQueda|puntomil}} <br>
                        Cancelados todos los prestamos su saldo seria de ${{saldoRestante|puntomil}}
                    </p>
                    
                    <table class="table table-responsive-sm" id="miTabla">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Personas</th>
                                <th>Tipo</th>
                                <th>Valor</th>
                                <th>Por pagar</th>
                                <th>Cancelado</th>
                                <th>Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in prestamos %}
                                <tr>
                                    <td>
                                        <span class="d-none d-md-block">
                                            {{p.fecha|date:'D, d/m/y h:iA'}}
                                        </span>
                                        <span  class="d-md-none">
                                            {{p.fecha|date:'d/m/y h:iA'}}
                                        </span>
                                    </td>
                                    <td><a href="{% url 'panel:vista_persona' p.persona.id %}">{{p.persona.nombre}}</a></td>
                                    <td>{{p.get_tipo_display}}</td>
                                    <td>$ {{p.cantidad|puntomil}}</td>
                                    <td>$ {{p.saldo_pendiente|puntomil}}</td>
                                    <td>
                                        <i class="{{p.cancelada|cancelada_icono}}"></i> 
                                        {% if p.cancelada %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'panel:vista_prestamo' p.id %}" class="btn btn-sm btn-outline-primary">
                                            <i class="fal fa-external-link"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="fs-18 text-center text-secondary">
                        <i class="fal fa-transporter-empty fa-4x"></i> <br><br>
                        Todavía no se han registrado prestamos
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <script src="{% static 'js/datatables.js' %}" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#miTabla').DataTable({
                "aaSorting": []
            });
        });
    </script>
{% endblock %}
