{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Pagar prestamo{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6">
                <div class="card animate__animated animate__fadeInUp">
                    <div class="card-header text-center">
                        Pagar prestamo
                    </div>
                    <div class="card-body">
                        
                        <div class="alert alert-primary" role="alert">
                            <div class="text-center">Información del prestamo</div>
                            <hr class="my-1">
                            Persona/Tarjeta: <b>{{prestamo.persona.nombre}}</b> <br>
                            Tipo de prestamo: <b>{{prestamo.get_tipo_display}}</b> <br>
                            Cuenta involucrada: 
                            <b>
                                {% if prestamo.cuenta %}
                                    {{prestamo.cuenta.nombre}}
                                {% else %}
                                    Ninguna
                                {% endif %}
                            </b>
                        </div>

                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="monto">Monto a pagar</label>
                                <input type="text" class="form-control" id="monto" name="monto" placeholder="Ingrese el valor" value="{{ saldo_pendiente }}" required>
                                <small id="montoHelp" class="form-text text-muted">El saldo pendiente del prestamo es $ {{ saldo_pendiente|puntomil }}</small>
                            </div>
                            <div class="form-group">
                                <label for="cuenta">Seleccione una cuenta</label>
                                <select class="form-control" name="cuenta" id="cuenta" required>
                                    <option selected disabled value="">Seleccionar cuenta</option>
                                    {% for c in cuentas %}
                                        <option value="{{c.id}}">{{c.nombre}} - Saldo $ {{c.saldo|puntomil}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="info">Información</label>
                                <textarea class="form-control" id="info" name="info" rows="1" placeholder="Opcional"></textarea>
                            </div>
                            {% if tags and prestamo.persona.isCreditCard %}
                                <div class="mb-3">
                                    <label for="tag">Seleccione una etiqueta</label>
                                    <select name="tag" class="form-control" id="tag">
                                        <option value="" selected disabled>Ninguna</option>
                                        {% for t in tags %}
                                            <option value="{{t.id}}">{{t.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}

                            <div class="text-right">
                                <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Seleccionar fecha
                                </button>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="pb-2">
                                    <label for="datetime">Fecha:</label>
                                    <input type="text" class="form-control" name="datetime" id="datetime">
                                </div>
                            </div>
                            
                            <div class="text-center">
                                <button class="btn btn-primary m-t-20">Confirmar pago</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script type="text/javascript">
        new AutoNumeric('#monto', {
            allowDecimalPadding: false,
            digitGroupSeparator: ".",
            decimalCharacter: ",",
            currencySymbol : ''
        });

        $(function () {
            $('#datetime').datetimepicker({
                format: 'DD/MM/YYYY hh:mm A'
            });
        });
    </script>
{% endblock %}