{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Vista Persona{% endblock %}

{% block contenido %}

    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-9">
                <div class="card mb-3 animate__animated animate__fadeIn">
                    <div class="card-body">
                        <div class="text-center">
                            <div style="font-size:40px;">
                                <i class="fas fa-user-circle"></i>
                                {% if not userpersona %}
                                    {{persona.nombre}}
                                    <span class="text-muted fz-26">
                                        {% if persona.userpersona_set.first %}
                                            [ {{ persona.userpersona_set.first.user }} ]
                                        {% endif %}
                                    </span>
                                {% else %}
                                    {{ userpersona.admin }}
                                {% endif %}
                            </div>
                            <a href="{% url 'panel:crear_prestamo' persona.id %}" class="btn btn-sm btn-outline-primary m-1">
                                Crear prestamo <i class="fal fa-plus"></i>
                            </a>
                            {% if yoDebo or meDeben %}
                                <button type="button" class="btn btn-outline-info btn-sm m-1" data-toggle="modal" data-target="#modalPagoMultiple">
                                    Registrar pago <i class="fal fa-money-check-edit-alt"></i>
                                </button>
                            {% endif %}
                            <a href="{% url 'user:userNotificationView' 1 %}" class="btn btn-sm btn-outline-secondary m-1">
                                {% if numeroNotificacionesNuevas %}
                                    <span class="badge badge-primary">{{numeroNotificacionesNuevas}}</span>
                                {% endif %}
                                Ver pagos <i class="fal fa-comment-exclamation"></i>
                            </a>
                        </div>
                        <hr>
                        <div style="overflow: hidden;">
                            <p>
                                Has realizado {{persona.prestamo_set.count}} pretamos con esta persona.
                                {% if persona.prestamo_set.count %}
                                    <br> En total usted debe ${{yoDebo|puntomil}} y le deben a usted ${{meDeben|puntomil}}.
                                    {% if diferencia %}
                                        <br> {{diferenciaMensaje}} ${{diferencia|puntomil}}.
                                    {% endif %}
                                {% endif %}        
                            </p>
                        </div>
                        {% if persona.prestamo_set.all %}
                            <h5 class="text-center mt-3"><b>Prestamos</b></h5>
                            <table class="table table-responsive-sm" id="datatable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Pendiente</th>
                                        <th>Info</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in persona.prestamo_set.all %}
                                        <tr class="{{p.cancelada|cancelada_color}}">
                                            <td class="text-center"><i class="{{p.cancelada|cancelada_icono}}"></i></td>
                                            <td>
                                                <span class="d-none d-md-block">
                                                    {{p.fecha|date:'D, d/m/y h:iA'}}
                                                </span>
                                                <span  class="d-md-none">
                                                    {{p.fecha|date:'d/m/y h:iA'}}
                                                </span>
                                            </td>
                                            <td>
                                                {% if userpersona %}
                                                    {{p.nombreTipoInvertido}}
                                                {% else %}
                                                    {{p.get_tipo_display}}
                                                {% endif %}
                                            </td>
                                            
                                            <td>${{p.saldo_pendiente|puntomil}}</td>
                                            <td>
                                                {{p.info|truncatechars:'20'}}
                                                <span class="d-none">{{p.info}}</span>
                                            </td>
                                            <td>
                                                <a href="{% url 'panel:vista_prestamo' p.id %}" class="btn btn-sm btn-outline-info">
                                                    <i class="fal fa-external-link"></i>
                                                </a>
                                                <a href="{% url 'panel:pagar_prestamo' p.id %}" class="btn btn-outline-primary btn-sm">
                                                    <i class="fal fa-envelope-open-dollar"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>

                {% if solicitudesCreacion %}
                    <div class="card mb-3 animate__animated animate__fadeIn">
                        <div class="card-body">
                            <h5 class="text-center">Solicitudes de creación de prestamos pendientes</h5>
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Valor</th>
                                        <th>Info</th>
                                        <th>Estado</th>
                                        {% if not userpersona %}
                                            <th>Opciones</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in solicitudesCreacion %}
                                        <tr>
                                            <td>{{i.fechaSolicitud|date:'d/m/y h:i A'}}</td>
                                            <td>{{i.tipo|tipoPrestamo:userpersona}}</td>
                                            <td>{{i.valor|dinero}}</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" 
                                                    data-html="true" title="{{i|infoSolicitudPrestamo}}">
                                                    <i class="fal fa-info"></i>
                                                </button>
                                            </td>
                                            <td>{{i.estado|estadoSolicitudPrestamo}}</td>
                                            {% if not userpersona %}
                                                <td>
                                                    {% if i.estado == 0 %}
                                                    <a href="{% url 'panel:cambiarEstadoSolicitudCreacionPrestamo' i.id 2 %}" class="btn btn-outline-danger btn-sm">
                                                        <i class="fal fa-times-circle"></i>
                                                    </a>
                                                    <a href="{% url 'panel:cambiarEstadoSolicitudCreacionPrestamo' i.id 1 %}" class="btn btn-outline-primary btn-sm">
                                                        <i class="fal fa-check-circle"></i>
                                                    </a>
                                                    {% else %}
                                                        <a href="{% url 'panel:vista_prestamo' i.id %}" class="btn btn-outline-primary btn-sm">
                                                            Ver prestamo
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                {% if solicitudesPago %}
                    <div class="card mb-3 animate__animated animate__fadeIn">
                        <div class="card-body">
                            <h5 class="text-center">Solicitudes de pago de prestamos pendientes</h5>
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Valor</th>
                                        <th>Info</th>
                                        <th>Estado</th>
                                        {% if not userpersona %}
                                            <th>Opciones</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in solicitudesPago %}
                                        <tr>
                                            <td>{{i.fechaSolicitud|date:'d/m/y h:i A'}}</td>
                                            <td>{{i.pagoMultiple|pagoMultiple}}</td>
                                            <td>{{i.valor|dinero}}</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" 
                                                    data-html="true" title="{{i|infoSolicitudPrestamo}}">
                                                    <i class="fal fa-info"></i>
                                                </button>
                                            </td>
                                            <td>{{i.estado|estadoSolicitudPrestamo}}</td>
                                            {% if not userpersona %}
                                                <td>
                                                    {% if i.estado == 0 %}
                                                    <a href="{% url 'panel:cambiarEstadoSolicitudPagoPrestamo' i.id 2 %}" class="btn btn-outline-danger btn-sm">
                                                        <i class="fal fa-times-circle"></i>
                                                    </a>
                                                    <a href="{% url 'panel:cambiarEstadoSolicitudPagoPrestamo' i.id 1 %}" class="btn btn-outline-primary btn-sm">
                                                        <i class="fal fa-check-circle"></i>
                                                    </a>
                                                    {% else %}
                                                        <a href="{% url 'panel:vista_prestamo' i.id %}" class="btn btn-outline-primary btn-sm">
                                                            Ver prestamo
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-3">
                {% include 'base/panel_enlaces.html' %}
                <br>
                {% include 'base/panel_reportes.html' %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalPagoMultiple" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalPagoMultipleLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalPagoMultipleLabel">Pago multiple de prestamos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form action="{% url 'panel:pagarConjuntoPrestamos' persona.id %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="personaId" id="personaId" value="{{persona.id}}" class="d-none">
    
                    <div class="form-group">
                        <label for="tipoPrestamo">Seleccione el tipo de prestamos a pagar:</label>
                        {% if meDeben %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoPrestamo" id="tipoPrestamo1" 
                                value="yopresto" {{meDeben|checkedPagoMultiplePrestamo:yoDebo}} required>
                                <label class="form-check-label" for="tipoPrestamo1">
                                    Yo presto (Le deben en total ${{meDeben|puntomil}})
                                </label>
                            </div>
                        {% endif %}
                        {% if yoDebo %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tipoPrestamo" id="tipoPrestamo2" 
                                value="meprestan" {{yoDebo|checkedPagoMultiplePrestamo:meDeben}} required>
                                <label class="form-check-label" for="tipoPrestamo2">
                                    Me prestan (Usted debe en total ${{yoDebo|puntomil}})
                                </label>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="cuenta">Cuenta para realizar el pago:</label>
                        <select name="cuenta" class="form-control" id="cuenta" required>
                            <option value="" disabled selected>Seleccione una cuenta</option>
                            <option value="0">Ninguna</option>
                            {% for cuenta in cuentas %}
                                <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pagoTotal">Valor del pago:</label>
                        <input type="text" class="form-control" id="pagoTotal" name="pagoTotal" value="{{meDeben|valorPagoMultiplePrestamo:yoDebo}}" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="info">Información del pago:</label>
                        <input type="text" class="form-control" id="info" name="info" autocomplete="off" required>
                    </div>
                    <div class="collapse pb-3" id="collapseDate">
                        <label for="datetime">Fecha</label>
                        <input type="text" class="form-control" name="datetime" id="datetime">
                    </div>
                    <div class="text-right py-2">
                        <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseDate" aria-expanded="false" aria-controls="collapseDate" title="Seleccionar fecha">
                            Seleccionar <i class="fal fa-calendar-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-outline-primary">Pagar prestamos</button>
                </div>
            </form>
        </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script type="text/javascript">
        new AutoNumeric('#pagoTotal', {
            allowDecimalPadding: false,
            digitGroupSeparator: ".",
            decimalCharacter: ",",
            currencySymbol : ''
        });
        $(function () {
            $('#datetime').datetimepicker({
                format: 'DD/MM/YYYY hh:mm A'
            });
        });
    </script>
{% endblock %}