{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %}Ingresos por Dia{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-9">
                <h5 class="text-white text-center mb-3">Reporte Diario de Ingresos</h5>
                <div class="card">
                    <div class="card-body">
                        {% if ingresos %}
                            <div id="container" style="width:100%; height:400px;"></div>
                                <br>
                            <table class="table table-responsive-sm" id="miTabla">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Dia</th>
                                        <th>N° Ingresos</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ingreso in ingresos %}
                                        <tr>
                                            <td>{{ingreso.fecha|date:'Y-m-d'}}</td>
                                            <td>{{ingreso.fecha|date:'l'}}</td>
                                            <td>
                                                <a href="{% url 'panel:movimientos_dia' 'ingreso' ingreso.fecha|date:'d-m-Y' %}" class="reset-">{{ingreso.nregistros}} ingresos</a>
                                            </td>
                                            <td>$ {{ingreso.total|puntomil}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            <div class="text-center">No hay Reporte disponible</div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <br>
                {% include 'base/panel_enlaces.html' %}
                <br>
                {% include 'base/panel_reportes.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <script src="{% static 'js/datatables.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#miTabla').DataTable({
                order: []
            });

            var myChart = Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Ingresos de los ultimos 10 dias'
                },
                xAxis: {
                    categories: [
                        {% for g in grafica %}"{{g.fecha|date:'D d'}}", {% endfor %}
                    ]
                },
                yAxis: {
                    title: {
                        text: '$ COP'
                    }
                },
                series: [{
                    name: 'Ingreso',
                        color: '#00abff',
                    data: [
                        {% for g in grafica %}{{g.total}}, {% endfor %}
                    ]
                }]
            });


        });
    </script>
{% endblock %} %}
