{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %}Egresos por Etiqueta{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-9">
                <h5 class="text-white text-center mb-3">Reporte de Egresos por Etiquetas</h5>
                <div class="card">
                    <div class="card-body">
                        {% if egresosPorEtiqueta %}
                            <table class="table table-responsive-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Etiqueta</th>
                                        <th>Mes Año</th>
                                        <th>N° Registros</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, val in egresosPorEtiqueta.items %}
                                        {% for e in val %}
                                        <tr>
                                            {% if forloop.first %}
                                                <th rowspan="{{val.count}}"> {{key}} </th>
                                            {% endif %}
                                            <td> {{e.month|date:'F Y'}}</td>
                                            <td>{{e.nRegistros}}</td>
                                            <td>$ {{e.total|puntomil}}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            <div class="text-center">No hay Reporte disponible</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <br>
                {% include 'base/panel_enlaces.html' %}
                <br>
                {% include 'base/panel_reportes.html' %}
            </div>
        </div>
    </div>

{% endblock %}