{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %}Ingresos por Mes{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-9">
                <h5 class="text-white text-center mb-3">Reporte Mensual de Ingresos</h5>
                <div class="card">
                  <div class="card-body">
                      {% if ingresos %}
                          <div id="container" style="width:100%; height:400px;"></div>
                            <br>
                          <table class="table table-responsive-sm" id="miTabla">
                              <thead>
                                  <tr>
                                      <th>Mes</th>
                                      <th>N° Egresos</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for ingreso in ingresos %}
                                      <tr>
                                          {% for key, value in ingreso.items %}
                                              {% if key == 'month' %}
                                                  <td>{{value|date:'M Y'}}</td>
                                              {% elif key == 'total' %}
                                                  <td>$ {{value|puntomil}}</td>
                                              {% else %}
                                                  <td>{{value}} ingresos</td>
                                              {% endif %}
                                          {% endfor %}
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>

                      {% else %}
                          <div class="text-center">No hay Reporte disponible</div>
                      {% endif %}

                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <br>
                {% include 'base/panel_enlaces.html' %}
                <br>
                {% include 'base/panel_reportes.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <script src="{% static 'js/datatables.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#miTabla').DataTable({
                order: []
            });

            var myChart = Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Ingresos de los ultimos 6 meses'
                },
                xAxis: {
                    categories: [
                    {% for o in chart_ingresos %}"{% for key, value in o.items %}{% if key == 'month' %}{{value|date:'M y'}}{% endif %}{% endfor %}", {% endfor %}
                    ]
                },
                yAxis: {
                    title: {
                        text: '$ COP'
                    }
                },
                series: [{
                    name: 'Ingreso',
                     color: '#005aad',
                    data: [
                    {% for o in chart_ingresos %}{% for key, value in o.items %}{% if key == 'total' %}{{value}}{% endif %}{% endfor %}, {% endfor %}
                    ]
                }]
            });


        });
    </script>
{% endblock %} %}
