{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Transferir a otra cuentra{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6">
                <div class="card animate__animated animate__fadeIn">
                    <div class="card-header text-center">
                        Transferencia desde {{cuenta.nombre}}
                    </div>
                    <div class="card-body">
                        {% if mensaje %}
                            <div class="alert alert-danger p-10" role="alert">
                                <b>Mensaje:</b> {{mensaje}}
                            </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="tag">Cuenta destino</label>
                                <select name="cuenta_destino" class="form-control" required>
                                    <option value="" selected disabled>Seleccionar cuenta</option>
                                    {% for cuenta in cuentas_destino %}
                                    <option value="{{cuenta.id}}">{{cuenta.nombre}} - $ {{cuenta.saldo|puntomil}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if not cuentas_destino %}
                                <div class="alert alert-warning" role="alert">
                                    <b>Atención:</b> No tienes registradas mas cuentas
                                    <hr>
                                    <div class="text-center">
                                        <a href="{% url 'panel:crear_cuenta' %}" class="btn btn-warning">Crear Cuenta</a>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="cantidad">Cantidad a transferir</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">$</span>
                                    </div>
                                    <input type="text" id="cantidad" name="cantidad" class="form-control" 
                                        aria-describedby="cantidadInfo" autocomplete="off" required >
                                </div>
                                <small id="cantidadInfo" class="form-text text-muted">
                                    El valor maximo de transferencia es ${{cuenta.saldo|puntomil}}
                                </small>
                            </div>

                            <div class="form-group">
                                <label for="info">Información</label>
                                <textarea class="form-control" id="info" name="info" rows="1" placeholder="Opcional"></textarea>
                            </div>

                            <div class="text-right">
                                <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Seleccionar fecha
                                </button>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="pb-2">
                                    <label for="datetime">Fecha:</label>
                                    <input type="text" class="form-control" name="datetime" id="datetime">
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-warning m-t-20">Confirmar transferencia</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script type="text/javascript">
        new AutoNumeric('#cantidad', {
            allowDecimalPadding: false,
            digitGroupSeparator: ".",
            decimalCharacter: ",",
            currencySymbol : ''
        });

        $(function () {
            $('#datetime').datetimepicker({
                format: 'DD/MM/YYYY hh:mm A'
            });
        });
    </script>
{% endblock %}