{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Egreso{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6">
                <div class="card animate__animated animate__fadeInDown">
                    <div class="card-header text-center">
                        Egreso en {{cuenta.nombre}}
                    </div>
                    <div class="card-body">
                        <div class="alert alert-primary p-10" role="alert">
                            <b>Información:</b> El valor Maximo del egreso es de $ {{cuenta.saldo|puntomil}}
                        </div>
                        {% if mensaje %}
                        <div class="alert alert-danger p-10" role="alert">
                            <b>Mensaje:</b> {{mensaje}}
                        </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <p>
                                <label for="tag">Seleccione una etiqueta</label>
                                <select name="tag" class="form-control" id="tag">
                                    <option value="" selected disabled>Seleccionar</option>
                                    {% for t in tags %}
                                    <option value="{{t.id}}">{{t.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            {% if not tags %}
                                <div class="alert alert-warning mb-0" role="alert">
                                    <b>Información:</b> Aun no has creado una etiqueta.
                                    <a href="{% url 'panel:crear_etiqueta' %}" class="">Crear Etiqueta</a>
                                </div>
                            {% endif %}
                            <center>
                                <button type="submit" class="btn btn-primary m-t-20">Confirmar egreso</button>
                            </center>
                        </form>
                    </div>
                </div>
                <div class="text-center fs-18 mt-4 animate__animated animate__fadeInUp">
                    <a href="{% url 'panel:transferir' cuenta.id %}" class="text-white">Transferir a otra cuenta</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script type="text/javascript">
        new AutoNumeric('#cantidad', {
            allowDecimalPadding: false,
            digitGroupSeparator: ".",
            decimalCharacter: ",",
            currencySymbol : ''
        });
    </script>
{% endblock %}
