{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Egreso{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6">
                <div class="card shadow animate__animated animate__fadeIn">
                    <div class="card-header text-center">
                        Egreso en {{cuenta.nombre}}
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning p-10" role="alert">
                            La cantidad no debe superar los ${{cuenta.saldo|puntomil}}
                        </div>
                        {% if mensaje %}
                            <div class="alert alert-danger p-10" role="alert">
                                <b>Mensaje:</b> {{mensaje}}
                            </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            {% if tags %}
                                <div class="mb-3">
                                    <label for="tag">Seleccione una etiqueta</label>
                                    <select name="tag" class="form-control selectConBuscador" id="tag">
                                        <option value="" selected disabled>Seleccionar</option>
                                        {% for t in tags %}
                                        <option value="{{t.id}}">{{t.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% else %}
                                <div class="alert alert-secondary" role="alert">
                                    No se ha creado ninguna etiqueta todavía.
                                </div>
                            {% endif %}
                            
                            <div class="text-right">
                                <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseTag" aria-expanded="false" aria-controls="collapseTag">
                                    Nueva etiqueta
                                </button>
                                <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseDate" aria-expanded="false" aria-controls="collapseDate">
                                    Seleccionar fecha
                                </button>
                            </div>
                            <div class="collapse" id="collapseTag">
                                <div class="pb-2">
                                    <label for="newTag">Crear nueva etiqueta</label>
                                    <input type="text" class="form-control" name="newTag" id="newTag" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="collapse" id="collapseDate">
                                <div class="pb-2">
                                    <label for="datetime">Fecha</label>
                                    <input type="text" class="form-control" name="datetime" id="datetime">
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-danger m-t-20">Confirmar egreso</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center fs-18 mt-4 animate__animated animate__fadeInUp">
                    <a href="{% url 'panel:transferir' cuenta.id %}" class="text-white">Transferir a otra cuenta</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script type="text/javascript">
        new AutoNumeric('#cantidad', {
            allowDecimalPadding: false,
            digitGroupSeparator: ".",
            decimalCharacter: ",",
            currencySymbol : ''
        });
        
        $(function () {
            $('#datetime').datetimepicker({
                format: 'DD/MM/YYYY hh:mm A'
            });
        });
    </script>
{% endblock %}
