{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %}Movimientos del mes{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-3 text-center text-light animate__animated animate__fadeInDown">
                    <b class="fs-22">{{tipo}} Mes de {{fecha|date:'F Y'}}</b>
                </div>
                <div class="card animate__animated animate__fadeIn">
                    <div class="card-body">
                        {% if transacciones %}
                            <table class="table table-sm table-responsive-sm" id="miTabla">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Valor</th>
                                        <th>Etiqueta</th>
                                        <th>Info</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in transacciones %}
                                        <tr class="{{t.tipo|textcolor}}">
                                            <td>
                                                <span class="d-none d-md-block">
                                                    {{t.fecha|date:'D, d/m/y h:iA'}}
                                                </span>
                                                <span  class="d-md-none">
                                                    {{t.fecha|date:'d/m/y h:iA'}}
                                                </span>
                                            </td>
                                            <td> {{t.tipo|signo}}${{t.cantidad|puntomil}}</td>
                                            <td>
                                                {% if t.etiqueta.id %}
                                                    <a href="{% url 'panel:movimientos_etiqueta' t.etiqueta.id %}"  class="reset-color-a">{{t|sin_etiqueta}}</a>
                                                {% else %}
                                                    {{t|sin_etiqueta}}
                                                {% endif %}
                                            </td>
                                            <td>{{t.info|truncatechars:'20'}}</td>
                                            <td>
                                                <a href="{% url 'panel:vista_transaccion' t.id %}"
                                                    class="btn btn-sm btn-outline-primary">
                                                <i class="fal fa-external-link"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>


                        {% else %}
                            <div class="fs-18 text-center my-4">
                                No hay movimientos en esta cuenta.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <script src="{% static 'js/datatables.js' %}" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#miTabla').DataTable({
                order: []
            });
        });
    </script>
{% endblock %} %}
