{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %}Movimientos en {{cuenta.nombre}}{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header text-center">
                        Movimientos en {{cuenta.nombre}}
                    </div>
                    <div class="card-body">
                        {% if transaciones %}
                            <table class="table table-responsive-sm" id="miTabla">
                                <thead>
                                    <tr>
                                        <th>Valor</th>
                                        <th>Etiqueta</th>
                                        <th>Info</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in transaciones %}
                                        <tr class="{{t.tipo|textcolor}}">
                                            <td> {{t.tipo|signo}}${{t.cantidad|puntomil}}</td>
                                            <td>{{t.etiqueta|sin_etiqueta}}</td>
                                            <td>{{t.info|truncatechars:'20'}}</td>
                                            <td>
                                                <span class="d-none d-md-block">
                                                    {{t.fecha|date:'D, d M Y'}}
                                                </span>
                                                <span  class="d-md-none">
                                                    {{t.fecha|date:'D, d M y'}}
                                                </span>
                                            </td>
                                            <td>{{t.fecha|date:'h:i A'}}</td>
                                            <td>
                                                <a href="{% url 'panel:vista_transaccion' t.id %}"
                                                    class="btn btn-sm btn-outline-primary">
                                                <i class="fas fa-external-link-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>


                        {% else %}
                            <div class="fs-18 text-center my-4">
                                No hay movimientos en esta cuenta.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <script src="{% static 'js/datatables.js' %}" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#miTabla').DataTable({
                order: []
            });
        });
    </script>
{% endblock %} %}
