{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Vista de Transaccion{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Detalles de Transacción</h5>
                        <hr>
                        <table class="table table-responsive-sm table-borderless">
                            <tbody>
                                <tr>
                                    <th>Tipo:</th>
                                    <td>{{transaccion.get_tipo_display}}</td>
                                </tr>
                                {% if transaccion.tipo == 'egreso' %}
                                    <tr>
                                        <th>Etiqueta</th>
                                        <td>{{transaccion.etiqueta.nombre}}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Valor:</th>
                                    <td>$ {{transaccion.cantidad|puntomil}}</td>
                                </tr>
                                <tr>
                                    <th>Información:</th>
                                    <td>{{transaccion.info}}</td>
                                </tr>
                                <tr>
                                    <th>Cuenta:</th>
                                    <td>{{transaccion.cuenta.nombre}}</td>
                                </tr>
                                <tr>
                                    <th>Hora:</th>
                                    <td>{{transaccion.fecha|date:'h:i A'}}</td>
                                </tr>
                                <tr>
                                    <th>Fecha:</th>
                                    <td>{{transaccion.fecha|date:'D, d M Y'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
