{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Vista de Transaccion{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-2 col-md-8">
                <div class="card animate__animated animate__fadeIn">
                    <div class="card-body">
                        <h5 class="text-center">Detalles de la Transacción</h5>
                        <hr>
                        {% if transaccion.estado == 0 %}
                            <div class="alert alert-primary" role="alert">
                                <h4 class="alert-heading">Esta es una transacción programada!</h4>
                                <p class="mb-0">Lo que significa que no ha sido debitada o pagada todavia</p>
                            </div>
                        {% endif %}

                        <table class="table table-responsive-sm table-borderless">
                            <tbody>
                                <tr>
                                    <th>Fecha:</th>
                                    <td>{{transaccion.fecha|date:'l d F Y - h:i A'}}</td>
                                </tr>
                                <tr>
                                    <th>Tipo:</th>
                                    <td>
                                        {% if transaccion.tipo == 'egreso' %}
                                            <a href="{% url 'reporte:egresos_diarios' %}">{{transaccion.get_tipo_display}}</a>
                                        {% else %}
                                            <a href="{% url 'reporte:ingresos_diarios' %}">{{transaccion.get_tipo_display}}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Valor:</th>
                                    <td>$ {{transaccion.cantidad|puntomil}}</td>
                                </tr>
                                <tr>
                                    <th>Cuenta:</th>
                                    <td>
                                        {% if transaccion.cuenta %}
                                            <a href="{% url 'panel:movimientos_cuenta' transaccion.cuenta.id %}">
                                                {{transaccion.cuenta.nombre}}
                                            </a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Saldo anterior:</th>
                                    <td>$ {{transaccion.saldo_anterior|puntomil}}</td>
                                </tr>
                                <tr>
                                    <th>Etiqueta</th>
                                    <td>
                                            {% if transaccion.etiqueta %}
                                                <a href="{% url 'panel:movimientos_etiqueta' transaccion.etiqueta.id %}">
                                                    {{transaccion.etiqueta.nombre}}
                                                </a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                <tr>
                                    <th>Información:</th>
                                    <td>{{transaccion.info|linebreaks}}</td>
                                </tr>
                                {% if transaccion.transaccionpagocredito_set.first %}
                                    <tr>
                                        <th>Compra a crédito</th>
                                        <td>
                                            <a href="{% url 'panel:vista_compra' transaccion.transaccionpagocredito_set.first.compraCredito.id %}">
                                                {{transaccion.transaccionpagocredito_set.first.compraCredito.creditCard}}
                                                {{transaccion.transaccionpagocredito_set.first.compraCredito.fecha|date:'d/m/y'}}
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <div class="text-center">
                            {% if request.user.is_superuser %}
                                <a href="/admin/contabilidad/transaccion/{{transaccion.id}}/change/" class="btn btn-outline-success mr-3" target="_blank"><i class="fal fa-edit"></i> Editar</a>
                            {% endif %}
                            {% if transaccion.estado %}
                                <a href="{% url 'panel:transaccion_rollback' transaccion.id %}" class="btn btn-outline-danger">
                                    Deshacer <i class="fal fa-undo"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
