<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
    <div class="container">

        <a class="navbar-brand" href="{% url 'panel:panel' %}"><i class="fas fa-chart-line"></i> Mis Cuentas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'panel:panel' %}">
                            <i class="far fa-chart-bar"></i> Panel <span class="sr-only">(current)</span></a>
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pagos:listado' %}">
                            <i class="fas fa-money-check-alt"></i> Pagos <span class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="far fa-user"></i> {{ request.user.username }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'panel:todos_movimientos' %}">
                                <i class="fas fa-money-check-alt"></i> Movimientos</a>
                            <a class="dropdown-item" href="{% url 'panel:listar_etiquetas' %}">
                                <i class="fas fa-tags"></i> Etiquetas</a>
                            <a class="dropdown-item" href="{% url 'panel:listar_personas' %}">
                                <i class="fas fa-users"></i> Personas</a>
                            <a class="dropdown-item" href="{% url 'panel:listar_prestamos' %}">
                                <i class="far fa-handshake"></i> Prestamos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Salir</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'panel:panel' %}">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:registro' %}">Registro <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
