<div class="card animate__animated animate__fadeIn">
    <div class="py-2 text-center">
        <b>Administación</b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'panel:todos_movimientos' %}">
            <i class="fal fa-list-alt"></i> Movimientos</a>
        </li>
        <li class="list-group-item"><a href="{% url 'panel:listar_etiquetas' %}">
            <i class="fal fa-tags"></i> Etiquetas</a>
        </li>
        <li class="list-group-item"><a href="{% url 'panel:listar_personas' %}">
            <i class="fal fa-users"></i> Personas</a>
        </li>
        <li class="list-group-item"><a href="{% url 'panel:listar_prestamos' %}">
            <i class="fal fa-handshake"></i> Prestamos </a>
        </li>
        <li class="list-group-item"><a href="{% url 'panel:listar_creditCards' %}">
            <i class="fal fa-credit-card"></i> Credit cards </a>
        </li>
        {% if request.user.is_superuser %}
            <li class="list-group-item"><a href="{% url 'panel:transacciones_programadas' %}">
                <i class="fal fa-clock"></i> T. Programadas </a>
            </li>
        {% endif %}
    </ul>
</div>
