<div class="card animate__animated animate__fadeIn">
    <div class="text-center py-2">
        <b>Reportes</b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{% url 'reporte:general' %}">Reporte General</a>
        </li>
        <li class="list-group-item">
            <a data-toggle="collapse" href="#diario" role="button" aria-expanded="false" aria-controls="diario">
            Reporte Diario <i class="fal fa-angle-down"></i>
        </a>
        <div class="collapse" id="diario">
            <div class="p-3">
                <a href="{% url 'reporte:egresos_diarios' %}" class="my-2"><i class="fal fa-minus-circle"></i> Egresos</a>
                <br><br>
                <a href="{% url 'reporte:ingresos_diarios' %}" class="my-2"><i class="fal fa-plus-circle"></i> Ingresos</a>
            </div>
        </div>
        </li>
        <li class="list-group-item">
            <a data-toggle="collapse" href="#mensual" role="button" aria-expanded="false" aria-controls="mensual">
                Reporte Mensuales <i class="fal fa-angle-down"></i>
            </a>
            <div class="collapse" id="mensual">
                <div class="p-3">
                    <a href="{% url 'reporte:egresos_mensuales' %}" class="my-2"><i class="fal fa-minus-circle"></i> Egresos</a>
                    <br><br>
                    <a href="{% url 'reporte:ingresos_mensuales' %}" class="my-2"><i class="fal fa-plus-circle"></i>
                        Ingresos</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <a href="{% url 'reporte:egresos_etiqueta' 0 0 %}">Reporte Etiquetas</a>
        </li>

    </ul>
</div>
