<div class="card animate__animated animate__fadeInRight">
    <div class="py-2 text-center">
        <b>Panel de Administación</b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'panel:todos_movimientos' %}">
            <i class="fas fa-money-check-alt"></i> Movimientos</a></li>
        <li class="list-group-item"><a href="{% url 'panel:listar_etiquetas' %}">
            <i class="fas fa-tags"></i> Etiquetas</a></li>
        <li class="list-group-item"><a href="{% url 'panel:listar_personas' %}">
            <i class="fas fa-users"></i> Personas</a></li>
        <li class="list-group-item"><a href="{% url 'panel:listar_prestamos' %}">
            <i class="far fa-handshake"></i> Prestamos </a></li>
    </ul>
</div>
