<div class="card">
    <div class="card-header py-2 text-center">
        <b>Reportes</b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a data-toggle="collapse" href="#diario" role="button" aria-expanded="false" aria-controls="diario">
            Reporte Diario <i class="fas fa-angle-down"></i>
          </a>
              <div class="collapse" id="diario">
                  <div class="p-2">
                      <ul class="pl-3">
                          <li><a href="{% url 'reporte:diario_egreso' %}">Reporte de Egresos</a></li>
                          <li><a href="{% url 'reporte:diario_ingreso' %}">Reporte de Ingresos</a></li>
                      </ul>
                  </div>

            </div>
        </li>
        <li class="list-group-item">
            <a data-toggle="collapse" href="#mensual" role="button" aria-expanded="false" aria-controls="mensual">
            Reporte Mensuales <i class="fas fa-angle-down"></i>
          </a>
              <div class="collapse" id="mensual">
                  <div class="p-2 pl-3">
                      <a href="{% url 'reporte:mensual_egreso' %}">Reporte de Egresos</a>
                  </div>

            </div>
        </li>

    </ul>
</div>
