{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Recibos periodo {{periodo.nombre}}{% endblock %}

{% block contenido %}

    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Recibos periodo {{periodo.nombre}}</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="table-primary">
                                    <th>Servicio</th>
                                    {% for pagador in pagadores %}
                                        <th>{{pagador.user.username}}</th>
                                    {% endfor %}
                                    <th>Sumatoria</th>
                                    <th>Valor Recibo</th>
                                </thead>
                                <tbody>
                                    {% for row in tableData %}
                                        <tr {% if row.0 == 'Total' %} class="table-primary"  {% endif %}>
                                            {% for item in row %}
                                                {% if forloop.counter0 == 0 %}
                                                    <td>{{item}}</td>
                                                {% else %}    
                                                    <td>{{item|dinero}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.is_superuser %}
                <div class="col-lg-3">
                    <div class="list-group">
                        <a href="{% url 'apto:addReciboInternet' periodo.id %}" class="list-group-item list-group-item-action">Agregar Recibo Internet</a>
                        {% for pagador in pagadores %}
                            {% if pagador.user != request.user %}
                                <a href="{% url 'apto:crearPrestamoRecibosPeriodo' periodo.id pagador.user.id %}" class="list-group-item list-group-item-action">Crear prestamo para {{pagador.user.username}}</a>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    
{% endblock %}