{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Vista Recibo{% endblock %}

{% block contenido %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-4 pb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Recibo de {{recibo.empresa.nombre}}</h5>
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <th>Periodo:</th>
                                    <td>{{recibo.periodo}}</td>
                                </tr>
                                <tr>
                                    <th>Valor:</th>
                                    <td>{{recibo.valorPago|dinero}}</td>
                                </tr>
                                <tr>
                                    <th>Inicio facturación:</th>
                                    <td>{{recibo.fechaInicio}}</td>
                                </tr>
                                <tr>
                                    <th>Final facturación:</th>
                                    <td>{{recibo.fechaFin}}</td>
                                </tr>
                                <tr>
                                    <th>Dias facturados:</th>
                                    <td>{{recibo.diasFacturados}} dias</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 pb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Información de pago por persona</h5>
                        <table class="table table-sm table-bordered table-striped mb-0">
                            <thead>
                                <th>Responsable</th>
                                <th>Pago correspondiente</th>
                                <th>Opciones</th>
                            </thead>
                            <tbody>
                                {% for pagadorRecibo in listaPagadorRecibo %}
                                    <tr>   
                                        <td>{{pagadorRecibo.pagador.user}}</td>                                 
                                        <td>{{pagadorRecibo.valorPago|DineroSinDecimales}}</td>
                                        <td>
                                            <a href="" class="btn btn-sm btn-outline-primary">Crear prestamo</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 pb-4">
                <div class="card">
                    <div class="card-body pb-1">
                        <h5 class="text-center">Estadias por persona</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <th>Persona</th>
                                    {% for dia in listaDias %}
                                        <th>{{dia}}</th>
                                    {% endfor %}
                                </thead>
                                <tbody>
                                    {% for key, value in estadiaPersonas.items %}
                                        <tr>
                                            <td>{{key}}</td>
                                            {% for i in value %}
                                                <td class="{% if i == 1 %}table-primary{% endif %}"></td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-striped">
                                <thead>
                                    <th>Dia</th>
                                    {% for pagadorRecibo in listaPagadorRecibo %}
                                        <th>{{pagadorRecibo.pagador.user}}</th>
                                    {% endfor %}
                                </thead>
                                <tbody>
                                    {% for row in tableData %}
                                        <tr>
                                            {% for col in row %}
                                                <td>
                                                    {% if forloop.counter0 == 0 %}
                                                        {{col}}
                                                    {% else %}
                                                        {{col.nPersonas}} <i class="fad fa-users"></i> - ${{col.valorPagoDia|ReducirDecimales:2}}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}