{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %}Reporte por Etiquetas{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-9 animate__animated animate__fadeIn">
                <h4 class="text-center text-light mb-3">Reporte por etiquetas - {{nombreMes}} del {{year}}</h4>
                <div class="card mb-3">
                    <div class="card-body py-2">
                        <form action="{% url 'reporte:cambiar_periodo_reporte_etiqueta_mensual' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12 col-lg-5 fz-16 pt-2  my-1">Seleccione el periodo a consultar</div>
                                <div class="col-sm-12 col-lg-3 my-1">
                                    <select class="form-control" name="month" required>
                                        {% for s in selectMonth %}
                                            <option value="{{s.value}}" {{s.selected}}>{{s.text}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-12 col-lg-2 my-1">
                                    <select class="form-control" name="year" required>
                                        {% for s in selectYear %}
                                            <option value="{{s.value}}" {{s.selected}}>{{s.text}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-12 col-lg-2 my-1">
                                    <button type="submit" class="btn btn-primary btn-block">Consultar</button>
                                </div>
                            </div>
                        </form>                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-body py-1">
                        <h5 class="text-center my-2">Egresos del periodo {{periodo}}</h5>
                        {% if egresosPorEtiqueta %}
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-table-tab" data-toggle="tab" href="#nav-table" role="tab" aria-controls="nav-table" aria-selected="true">Tabla</a>
                                    <a class="nav-item nav-link" id="nav-pieChart-tab" data-toggle="tab" href="#nav-pieChart" role="tab" aria-controls="nav-pieChart" aria-selected="false">Pie chart</a>
                                    <a class="nav-item nav-link" id="nav-barChart-tab" data-toggle="tab" href="#nav-barChart" role="tab" aria-controls="nav-barChart" aria-selected="false">Bar Chart</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">
                                    <table class="table table-responsive-sm table-bordered table-hover">
                                        <thead>
                                            <tr class="table-danger">
                                                <th>Etiqueta</th>
                                                <th>N° Registros</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for e in egresosPorEtiqueta %}
                                                <tr {{e.tagName|tableClass:'egreso'}}>
                                                    <td> {{e.tagName}}</td>
                                                    <td><a href="{% url 'panel:movimientos_etiqueta_mes' e.tagId 'egreso' periodo %}">{{e.nRegistros}} egresos</a></td>
                                                    <td>$ {{e.total|puntomil}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="nav-pieChart" role="tabpanel" aria-labelledby="nav-pieChart-tab">
                                    <figure class="highcharts-figure">
                                        <div id="containerPieChart"></div>
                                    </figure>
                                </div>
                                <div class="tab-pane fade" id="nav-barChart" role="tabpanel" aria-labelledby="nav-barChart-tab">
                                    <figure class="highcharts-figure">
                                        <div id="containerBarChart"></div>
                                    </figure>
                                </div>
                            </div>
                        {% else %}
                            <div class="text-center my-4">No hay Reporte disponible</div>
                        {% endif %}
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body py-1">
                        <h5 class="text-center my-2">Ingresos del periodo {{periodo}}</h5>
                        {% if ingresosPorEtiqueta %}
                            <table class="table table-responsive-sm table-bordered table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th>Etiqueta</th>
                                        <th>N° Registros</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for e in ingresosPorEtiqueta %}
                                        <tr {{e.tagName|tableClass:'ingreso'}}>
                                            <td> {{e.tagName}}</td>
                                            <td><a href="{% url 'panel:movimientos_etiqueta_mes' e.tagId 'ingreso' periodo %}">{{e.nRegistros}} ingresos</a></td>
                                            <td>$ {{e.total|puntomil}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center my-4">No hay Reporte disponible</div>
                        {% endif %}
                    </div>
                </div>
                {% if resumen %}
                <div class="card mt-4">
                    <div class="card-body pt-1">
                        <h5 class="text-center my-2">Resumen del mes</h5>
                        {{ resumen.mensajeAhorro }} <br>
                        {{ resumen.mensajePorcentaje }} <br>
                        {{ resumen.mensajeMetaAhorro }}
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="col-sm-12 col-lg-3">
                <br>
                {% include 'base/panel_enlaces.html' %}
                <br>
                {% include 'base/panel_reportes.html' %}
                <br>
                {% include 'user/alert_switchUserSetting.html' %}        
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
{% if egresosPorEtiqueta %}
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Highcharts.chart('containerPieChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Porcentaje de egresos por etiqueta'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'Egresos',
                    colorByPoint: true,
                    data: [
                        {{egresosPorEtiqueta|getDataPieChart|safe}}
                    ]
                }]
            });

            Highcharts.chart('containerBarChart', {
                chart: {
                    type: 'bar',
                    height: {{egresosPorEtiqueta|getHeightBarChart}}
                },
                title: {
                    text: 'Grafico valor egresos por etiqueta'
                },
                xAxis: {
                    categories: [
                        {% for item in egresosPorEtiqueta|getDataBarChart %}'{{item.tagName}}',{% endfor %}
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Cantidad (COP)'
                    }
                },
                series: [
                    {
                        name: 'Total egresos',
                        color: '#ff5d5d',
                        data: [
                            {% for item in egresosPorEtiqueta|getDataBarChart %}{{item.total}},{% endfor %}
                        ]
                    }
                ]   
            });

        });
    </script>
{% endif %}
{% endblock %}