{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Egreso{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        Egreso en {{cuenta.nombre}}
                    </div>
                    <div class="card-body">
                        <div class="alert alert-primary p-10" role="alert">
                            <b>Información:</b> El valor Maximo del egreso es de $ {{cuenta.saldo|puntomil}}
                        </div>
                        {% if mensaje %}
                            <div class="alert alert-danger p-10" role="alert">
                                <b>Mensaje:</b> {{mensaje}}
                            </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <p>
                                <label for="tag">Seleccione una etiqueta</label>
                                <select name="tag" class="form-control" id="tag" required>
                                    <option value="" selected disabled>Seleccionar</option>
                                    {% if tags %}
                                        {% for t in tags %}
                                            <option value="{{t.id}}">{{t.nombre}}</option>
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </select>
                            </p>
                            <center>
                                <button type="submit" class="btn btn-primary btn-lg m-t-20">Guardar</button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
