{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Panel de administracion{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <!-- <h4 class="text-light m-b-20">Panel de Administación</h4> -->
                <div class="m-b-20 text-center text-light">
                    <b class="fs-18">Mis cuentas</b>
                    <a href="{% url 'panel:crear_cuenta' %}" class="btn btn-sm btn-outline-light">
                        Crear Cuenta  <i class="fas fa-plus"></i></a>
                </div>

                {% if  cuentas%}
                    <div class="row m-b-10">
                        {% for c in cuentas %}
                            <div class="col-sm-12 col-lg-6 m-b-20">
                                <div class="card purple-gradient color-block" >
                                    <div class="card-body p-t-10 p-b-10">
                                        <b><a href="{% url 'panel:movimientos_cuenta' c.id %}" class="fs-18">{{c.nombre}}</a></b> <br>
                                        Saldo $ {{c.saldo|puntomil}}
                                        <div class="float-right">
                                            <a href="{% url 'panel:crear_ingreso' c.id %}" class="btn btn-sm btn-primary">Ingreso</a>
                                            <a href="{% url 'panel:crear_egreso' c.id %}" class="btn btn-sm btn-danger">Egreso</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h5 class="text-light text-center m-30">Aun no registras un cuenta.</h5>
                {% endif %}

                <!-- <div class="row"> -->
                <div class="m-20 text-center text-light">
                    <b class="fs-18">Personas</b>
                    <a href="{% url 'panel:crear_persona' %}" class="btn btn-sm btn-outline-light">
                        Crear Persona  <i class="fas fa-plus"></i></a>
                </div>
                    <div class="card">
                        <div class="card-body p-b-0">
                            {% if personas %}
                            <table class="table table-hover table-responsive-sm"">
                                <tbody>
                                    {% for p in personas %}
                                    <tr>
                                        <td><a href="">{{p.nombre}}</a></td>
                                        <td>Saldo $1000</td>
                                        <td>
                                            <a href="" class="btn btn-sm btn-primary">Prestar</a>
                                        </td>

                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <h6 class="m-20">No se registras ninguna Persona</h6>
                            {% endif %}
                        </div>
                    </div>
            <!-- </div> -->

            </div>
            <div class="col-sm-12 offset-md-1 col-md-5 offset-lg-1 col-lg-3 m-t-40">
                {% include 'base/panel_enlaces.html' %}
            </div>
        </div>
    </div>

{% endblock %}
