{% extends 'base/base.html' %}

{% block title %}Personas{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-6">
                <div class="m-b-20 text-center text-light animate__animated animate__fadeInDown">
                    <b class="fs-18">Personas</b>
                    <a href="{% url 'panel:crear_persona' %}" class="btn btn-sm btn-outline-light">
                        Crear  <i class="fal fa-plus"></i>
                    </a>
                </div>
                <div class="card animate__animated animate__fadeIn">
                    <div class="card-body">
                        {% if personas %}
                            <table class="table table-sm table-responive-sm">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Prestamos</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in personas %}
                                        <tr>
                                            <td><a href="{% url 'panel:vista_persona' p.id %}">{{p.nombre}}</a></td>
                                            <td>{{p.prestamo_set.count}}</td>
                                            <td>
                                                <a href="{% url 'panel:ocultar_persona' p.id %}" class="btn btn-sm btn-outline-secondary">
                                                    {% if p.visible %}
                                                        <i class="far fa-eye"></i>
                                                    {% else %}
                                                        <i class="far fa-eye-slash"></i>
                                                    {% endif %}
                                                </a>
                                                <a href="{% url 'panel:editar_persona' p.id %}" class="btn btn-sm btn-outline-success">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                                {% if p.prestamo_set.count == 0 %}
                                                    <a href="{% url 'panel:eliminar_persona' p.id %}" class="btn btn-sm btn-outline-danger">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                {% else %}
                                                    <a href="#" class="btn btn-sm btn-outline-secondary disabled">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="fs-18 text-center text-secondary">
                                <i class="fal fa-transporter-empty fa-4x"></i> <br><br>
                                No hay personas registradas
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="offset-lg-2 col-lg-3 pt-3">
                {% include 'base/panel_enlaces.html' %}
                <br>
                {% include 'base/panel_reportes.html' %}
            </div>
        </div>
    </div>
{% endblock %}
