{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Vista Persona{% endblock %}

{% block contenido %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-1 col-md-10">
                <div class="card animate__animated animate__fadeInUp">
                    <div class="card-body">
                        <div class=" text-center">
                            <b>Información de la Persona</b>
                        </div>
                        <hr>
                        <div class="text-center">
                            <div style="font-size:40px;">
                                <i class="fas fa-user-circle"></i> {{persona.nombre}}
                            </div>
                            <a href="{% url 'panel:crear_prestamo' persona.id %}" class="btn btn-sm btn-outline-primary m-l-10">Crear Prestamo</a>
                        </div>
                        <hr>
                        Has realizado {{persona.prestamo_set.count}} pretamos con esta persona.

                        {% if persona.prestamo_set.all %}
                            <h5 class="text-center mt-3"><b>Registro de Prestamos</b></h5>
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Cantidad</th>
                                        <th>Cancelado</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in persona.prestamo_set.all %}
                                        <tr class="{{p.cancelada|cancelada_color}}">
                                            <td>
                                                <span class="d-none d-md-block">
                                                    {{p.fecha|date:'D, d/m/y h:iA'}}
                                                </span>
                                                <span  class="d-md-none">
                                                    {{p.fecha|date:'d/m/y h:iA'}}
                                                </span>
                                            </td>
                                            <td>{{p.get_tipo_display}}</td>
                                            <td>${{p.cantidad|puntomil}}</td>
                                            <td><i class="{{p.cancelada|cancelada_icono}}"></i></td>
                                            <td>
                                                <a href="{% url 'panel:vista_prestamo' p.id %}" class="btn btn-sm btn-outline-primary"><i class="fas fa-external-link-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
