{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}{{creditCard.nombre}}{% endblock %}

{% block contenido %}
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-9">
                <div class="card animate__animated animate__fadeIn">
                    <div class="card-body">
                        <div class="text-center">
                            <h3>
                                <i class="fal fa-credit-card"></i> {{creditCard.nombre}}
                            </h3>
                            <a href="{% url 'panel:compra_creditCard' creditCard.id %}" class="btn btn-sm btn-outline-primary m-l-10">
                                Registrar compra <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <p>
                            Cupo total: ${{creditCard.cupo|puntomil}} <br>
                            Cupo disponible: ${{creditCard.cupoDisponible|puntomil}} <br>
                            Deuda actual: ${{deudaActual|puntomil}} 
                        </p>
                        <hr>
                        <h5 class="text-center my-3">
                            Compras realizadas
                        </h5>
                        {% if creditCard.compracredito_set.all %}
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Fecha</th>
                                        <th>Valor</th>
                                        <th>Deuda</th>
                                        <th>Etiqueta</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for compra in creditCard.compracredito_set.all %}
                                        <tr class="{{compra.cancelada|cancelada_color}}">
                                            <td class="text-center">
                                                <i class="{{compra.cancelada|cancelada_icono}}"></i>
                                            </td>
                                            <td>
                                                <span class="d-none d-md-block">
                                                    {{compra.fecha|date:'D, d/m/y h:iA'}}
                                                </span>
                                                <span  class="d-md-none">
                                                    {{compra.fecha|date:'d/m/y h:iA'}}
                                                </span>
                                            </td>
                                            <td>
                                                ${{compra.valor|puntomil}}
                                            </td>
                                            <td>
                                                ${{compra.deuda|puntomil}}
                                            </td>
                                            <td>
                                                {{compra.etiqueta}}
                                            </td>
                                            <td>
                                                <a href="{% url 'panel:vista_compra' compra.id %}" class="btn btn-sm btn-outline-primary">
                                                    <i class="fal fa-external-link"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center text-secondary">
                                <i class="fal fa-transporter-empty fa-2x"></i> <br>
                                No se han registrado compras
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                {% include 'base/panel_enlaces.html' %}
                <br>
                {% include 'base/panel_reportes.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if messages %}
        <script type="text/javascript">
            $(function () {
                Swal.fire({
                    icon: '{{messages|getMessage:"icon" }}',
                    title: '{{messages|getMessage }}',
                    showConfirmButton: true,
                    // timer: 3000
                });
            });
        </script>
    {% endif %}
{% endblock %}