{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Detalles compra{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-2 col-md-8">
                <div class="card animate__animated animate__fadeIn">
                    <div class="card-body">
                        <h5 class="text-center">
                            Detalles de la compra
                            {% if compra.valor == compra.deuda %}
                                <span class="float-right">
                                    <a href="{% url 'panel:eliminar_compra' compra.id %}" class="btn btn-outline-danger btn-sm mx-3" 
                                    onclick="return confirm('¿Esta seguro de eliminar esta compra?')">
                                        <i class="fal fa-trash-alt"></i>
                                    </a>
                                </span>
                            {% endif %}
                        </h5>
                        <hr>
                        {% if compra.cancelada %}
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Compra pagada!</h4>
                                <p class="mb-0">Ya se pago la todalidad de las cuotas.</p>
                            </div>
                        {% endif %}
                        <table class="table table-responsive-sm table-borderless">
                            <tbody>
                                <tr>
                                    <th>Fecha:</th>
                                    <td>{{compra.fecha|date:'l d F Y - h:i A'}}</td>
                                </tr>
                                <tr>
                                    <th>Tarjeta:</th>
                                    <td><a href="{% url 'panel:vista_creditCard' compra.creditCard.id %}">{{compra.creditCard.nombre}}</a></td>
                                </tr>
                                <tr>
                                    <th>Valor:</th>
                                    <td>$ {{compra.valor|puntomil}}</td>
                                </tr>
                                <tr>
                                    <th>Deuda:</th>
                                    <td>$ {{compra.deuda|puntomil}}</td>
                                </tr>
                                <tr>
                                    <th>Cuotas:</th>
                                    <td>{{compra.cuotas}}</td>
                                </tr>
                                <tr>
                                    <th>Etiqueta</th>
                                    <td>
                                        {% if compra.etiqueta %}
                                            <a href="{% url 'panel:movimientos_etiqueta' compra.etiqueta.id %}">
                                                {{compra.etiqueta.nombre}}
                                            </a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Información:</th>
                                    <td>{{compra.info}}</td>
                                </tr>                         
                            </tbody>
                        </table>
                        <h6 class="text-center">Pagos</h6>
                        <table class="table table-responsive-sm table-sm table-hover">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Valor</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tc in compra.transaccionpagocredito_set.all %}
                                    <tr class="{{tc.transaccion.estado|colorEstadoTransaccion}}">
                                        <td>{{tc.transaccion.fecha|date:'d/m/y'}}</td>
                                        <td>${{tc.transaccion.cantidad|puntomil}}</td>
                                        <td>{{tc.transaccion.estado|estadoTransaccion}}</td>
                                        <td>
                                            <a href="{% url 'panel:vista_transaccion' tc.transaccion.id %}" class="btn btn-sm btn-outline-primary">
                                                <i class="fal fa-external-link"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
