{% extends 'base/base.html' %}
{% load misTags %}

{% block title %}Crear un Prestamo{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6">
                <div class="card animate__animated animate__fadeIn">
                    <div class="card-header text-center">
                        Crear un Prestamo
                    </div>
                    <div class="card-body">
                        <div class="fs-20 m-b-20 text-primary">
                            <b>Prestamo con 
                                {% if userpersona %}
                                    {{userpersona.admin}}
                                {% else %}
                                    {{persona.nombre}}
                                {% endif %}
                            </b>
                        </div>
                        <hr>
                        {% if mensaje %}
                            <div class="alert alert-danger p-10" role="alert">
                                <b>Mensaje:</b> {{mensaje}}
                            </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <p>
                                <label for="cuenta">Seleccione una cuenta</label>
                                <select class="form-control" name="cuenta" required>
                                    <option selected disabled value="">Seleccionar</option>
                                    <!-- <option value="ninguna">Ninguna</option> -->
                                    {% for c in cuentas %}
                                        <option value="{{c.id}}">{{c.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            {{form.as_p}}

                            <div class="text-right">
                                <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Seleccionar fecha
                                </button>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="pb-2">
                                    <label for="datetime">Fecha:</label>
                                    <input type="text" class="form-control" name="datetime" id="datetime">
                                </div>
                            </div>

                            <div class="text-center pt-3">
                                <button type="submit" class="btn btn-primary btn-flat">Crear prestamo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script type="text/javascript">
        new AutoNumeric('#cantidad', {
            allowDecimalPadding: false,
            digitGroupSeparator: ".",
            decimalCharacter: ",",
            currencySymbol : ''
        });

        $(function () {
            $('#datetime').datetimepicker({
                format: 'DD/MM/YYYY hh:mm A'
            });
        });
    </script>
{% endblock %}