{% extends 'base/base.html' %}
{% load static %}
{% load misTags %}

{% block title %}Todos Mis Prestamos{% endblock %}

{% block contenido %}
    <div class="container">
        {% if prestamos %}
            <div class="row">
                <div class="col-lg-7">
                    <div class="card animate__animated animate__fadeIn">
                        <div class="card-body">
                            <h6 class="text-center">Resumen</h6>
                            Saldo total en cuentas ${{saldoTotal|puntomil}} <br>
                            Actualmente debe ${{yoDebo|puntomil}} y a usted le deben ${{meDeben|puntomil}} <br>
                            {{pagandoPrestamosMensaje}} ${{pagandoPrestamosMeQueda|puntomil}} <br>
                            Cancelados todos los prestamos su saldo seria de ${{saldoRestante|puntomil}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card animate__animated animate__fadeIn">
                        <div class="card-body">
                            <h6 class="text-center">Gestión de Solicitudes</h6>
                            <p class="mb-2">
                                Solicitudes de creación <span class="badge badge-primary">{{solicitudesCreacion.count}}</span>
                                <br>
                                Solicitudes de pago <span class="badge badge-primary">{{solicitudesPago.count}}</span>
                            </p>
                            <div class="text-center">
                                <a href="" class="btn btn-outline-primary">Ver solicitudes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card animate__animated animate__fadeIn my-4">
            <div class="card-body">
                <h5 class="text-center mb-3">Prestamos</h5>
                {% if prestamos %}
                    <table class="table table-responsive-sm" id="datatable">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Personas</th>
                                <th>Tipo</th>
                                <th>Valor</th>
                                <th>Por pagar</th>
                                <th>Cancelado</th>
                                <th>Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in prestamos %}
                                <tr>
                                    <td>
                                        <span class="d-none d-md-block">
                                            {{p.fecha|date:'D, d/m/y h:iA'}}
                                        </span>
                                        <span  class="d-md-none">
                                            {{p.fecha|date:'d/m/y h:iA'}}
                                        </span>
                                    </td>
                                    <td><a href="{% url 'panel:vista_persona' p.persona.id %}">{{p.persona.nombre}}</a></td>
                                    <td>{{p.get_tipo_display}}</td>
                                    <td>$ {{p.cantidad|puntomil}}</td>
                                    <td>$ {{p.saldo_pendiente|puntomil}}</td>
                                    <td>
                                        <i class="{{p.cancelada|cancelada_icono}}"></i> 
                                        {% if p.cancelada %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'panel:vista_prestamo' p.id %}" class="btn btn-sm btn-outline-primary">
                                            <i class="fal fa-external-link"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="fs-18 text-center text-secondary">
                        <i class="fal fa-transporter-empty fa-4x"></i> <br><br>
                        Todavía no se han registrado prestamos
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
