body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.gradiente {
	background: #1e5799;
	background: -moz-linear-gradient(top,  #1e5799 0%, #564d8e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#564d8e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#564d8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#564d8e',GradientType=0 ); /* IE6-9 */

}

:root {
	--animate-duration: 1000ms;
	--animate-delay: 0.9s;
}